.choice {
  border: solid 2px #282c34;
  padding: 9px;
  border-radius: 15px;
}
.selected-choice {
  background-color: orange;
  color: #282c34;
  padding: 9px;
  border-radius: 15px;
}

.fs-container {
  width: 90%;
  /* height: 90%; */
}
.fs {
  cursor: pointer;
  transition: ease-in-out 0.18s;
  border-radius: 8px;
  width: auto;
  height: auto;
}

.fs:hover {
  cursor: pointer;
  background-color: orange;
  color: rgb(40, 44, 52);
}

.fs-container h2 {
  font-weight: 200;
  font-size: 0.7em;
  text-align: initial;
}

.fs-ul {
  margin: 0.2em 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  /* margin: 0; */
  padding: 0;
}

.find-map-container {
  margin-bottom: 2em;
}
