body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  /* height: 15vmin !important; */
  transform-origin: center !important;
  pointer-events: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-title {
  display: flex;
  justify-content: space-around;
}

.welcome-container {
  display: flex;
  margin: 2em;
  flex-direction: column;
  align-items: center;
}
.welcome-container h1 {
  height: auto;
  margin: auto;
  font-weight: 200;
}
.welcome-container p {
  line-height: 0.7em;
  font-weight: 200;
}
.home-link {
  flex: 1;
  padding: 0.2em 0.4em;
  height: fit-content;
  width: fit-content;
  font-size: clamp(13px, 1em, 2em);
  font-weight: 300;
  border: 1.4px solid white;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
  margin: 0 0.6em;
  cursor: pointer;
  color: white;
  width: 45%;
  font-weight: bolder;
  text-decoration: none;
}
.home-link:hover {
  background: hotpink;
  color: #282c34;
  border-color: hotpink;
}
