.infobox-wrapper {
  display: flex;
  flex-direction: column;
}

.infobox-details {
  display: flex !important;
  flex-direction: column !important;
  line-height: 0;
}

.info-box {
  color: black;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}

.infobox-link h1 {
  font-size: 2em !important;
}
.info-box p {
  font-size: 2em !important;
}
.info-box h2 {
  font-size: 1em !important;
}

@media only screen and (max-width: 420px) {
  .info-box {
    padding: 0;
    display: inline;
  }
  .info-box-link {
    padding: 0;
    font-size: 1.3em !important;
  }
  .info-box-link {
    font-size: 1.3em !important;
  }
  .feature-container {
    flex-wrap: wrap !important;
  }
}

@media only screen and (max-width: 320px) {
  .info-box-link {
    font-size: 1.3em !important;
  }
  .info-box {
    padding: 0;
    display: inline;
  }
}