* {
  /* border: solid 1px purple; */
}

@media only screen and (max-width: 414px) {
  body {
      width: 100%;
      display: flex;
      flex-wrap: wrap !important;
    }
  .detail-view {
    flex-direction: column !important;
    margin: 0em .4em !important;
}
  .links-container {
    display: flex;
    width: -moz-fit-content;
    margin: auto;
  }
  .links-container {
    display: flex;
    width: -moz-fit-content;
    margin: auto;
  }
  .nav-container {
    max-height: -moz-fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    border-bottom: double 28px hotpink;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .detail-view .detail-title-container {
    flex: 1 1;
    font-size: 2em;
    line-height: 20px;
  }
  .detail-view .place-description {
    margin: .5em 0 !important;
    border: solid 1px white !important;
    padding: .3em;
  }
  .detail-view .info-wrapper .features-title {
    -webkit-text-orientation: upright;
    text-orientation: upright !important;
    writing-mode: horizontal-tb !important;
    flex: initial !important;
    margin: 1em !important;
    overflow: hidden;
    display: flex;
    }
    .detail-view .info-wrapper {
      flex: 1 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  .feature-details {
    flex-direction: column !important;
  }
  .feature-details .feature-description {
    width: 100% !important;
  }

  .feature-details .feature-type {
    flex-direction: row !important;
    min-height: 2em !important;
    width: 100% !important;
    margin: .4em 1em !important;
    border: solid 2px salmon !important;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-height: 4em;
    max-width: 100% !important;
  }
}
 

.detail-view {
  display: flex;
  flex-direction: row;
  /* margin: 1em; */
  /* padding: 2em 4em !important; */
  width: -webkit-fill-available;
  /* margin: 0 !important; */
  margin: 1em 3% !important;
}

.detail-view .left {
  flex: 1;
}

.detail-view .detail-title-container {
  flex: 1;
  /* margin: 1em 5% !important; */
  margin-right: 1% !important;
  font-size: 2em;
  line-height: 20px;
}

.detail-view .detail-title-container h1 {
  -webkit-text-stroke-width: medium;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 1;
}

.detail-view .left .detail-title-container .main-image-wrapper {
  min-height: auto;
  min-width: 40%;
  max-width: 100%;
}
.main-image-wrapper img {
  width: 100%;
}

.main-image-wrapper p {
  font-size: 0.4em;
  font-weight: 200;
  margin: 0;
  line-height: 1em;
}

.detail-view .place-description {
  /* max-width: 100%; */
  margin-top: 2%;
  margin-right: 1%;
  border: solid 1px white;
  border-radius: 10px;
}

.detail-view .info-wrapper {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
}

.detail-view .info-wrapper .features-title {
  justify-content: center;
  /* height: 100%; */
  -webkit-text-orientation: upright;
  text-orientation: upright;
  writing-mode: vertical-lr;
  /* font-size: 2em; */
  margin: 0 2%;
  flex: 1 1;
  /* background-color: salmon; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.detail-view .info-wrapper .features-title h1 {
  margin: 0 !important;
  font-weight: 900;
  font-size: 120%;
  letter-spacing: 2rem;
  /* color: salmon; */
  color: salmon;
  /* color: rgb(40, 44, 52); */
  text-decoration: underline;
  /* font-size: 120%; */
  /* letter-spacing: 1px; */
}

.feature-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.features-section {
  /* padding-left: 2em;
  display: flex;
  flex-direction: column; */
  /* padding-left: 2em; */
  flex: 6;
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  min-height: 60vh;
  justify-content: space-around;
}

.feature-details {
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
  min-height: 15vh;
  max-width: 100%;
  /* justify-content: space-around; */
}

.feature-details .feature-type {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px salmon;
  border-radius: 10px;
  /* min-width: 5em; */
  /* min-width: 5em; */
  min-height: 4em;
  max-height: 4em;
  margin-right: 1em;
  min-width: 17%;
  max-width: 17%;
}

.feature-description {
  border: solid 2px salmon;
  border-radius: 10px;
  /* min-width: 100%; */
  width: -webkit-fill-available;
  min-height: 4em;
}

.feature-details h3 {
  /* text-align: center; */
  /* padding-right: 1em; */
  /* flex:1; */
  margin: 0;
  line-height: 1.4em;
  /* border: solid 2px white; */
}

.feature-details p {
  /* text-align: center; */
  font-size: 1.7rem;
  font-weight: 200;
}

.nothing-here-text {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 70vh;
  padding: 1em;
}
.nothing-here-text h1 {
  font-weight: 300;
  text-decoration: underline;
}
.nothing-here-text h2 {
  font-weight: 200;
}

/* .features-section h2 {
  padding-right: 1em;
} */
