* {
  /* border: solid 1px purple; */
}

.detail-view {
  display: flex;
  flex-direction: row;
  /* margin: 1em; */
  /* padding: 2em 4em !important; */
    width: -webkit-fill-available;
  /* margin: 0 !important; */
  margin: 1em 5% !important;
}

.detail-view .detail-title-container {
 flex: 1;
 /* margin: 1em 5% !important; */
 margin-right: 0 !important;
}

.detail-view .detail-title-container img {
 max-width: 100%;
}

.detail-view .info-wrapper {
 flex: 1;
 display: flex;
 /* flex-direction: column; */
 justify-content: flex-start;
}

.detail-view .info-wrapper .features-title{
  /* height: 100%; */
  text-orientation: upright;
  writing-mode: vertical-lr;
}

.feature-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}


.features-section {
  /* padding-left: 2em;
  display: flex;
  flex-direction: column; */
  /* padding-left: 2em; */
  flex: 6;
  display: flex;
  width: -webkit-fill-available;
  flex-direction: column;
  min-height: 60vh;
  justify-content: space-around;
}

.features-title {
  flex: 1;
}

.feature-details {
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
  min-height: 15vh;
  max-width: 100%;
  /* justify-content: space-around; */
}

.feature-details .feature-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px white;
  border-radius: 10px;
  /* min-width: 5em; */
  min-width: 5em;
  min-height: 4em;
  margin-right: 1em;
}

.feature-description {
  border: solid 2px white;
  border-radius: 10px;
  /* min-width: 100%; */
  width: -webkit-fill-available;
  min-height: 4em;
}

.feature-details h3 {
  /* text-align: center; */
  /* padding-right: 1em; */
  /* flex:1; */
  margin: 0;
  line-height: 1.4em;
  /* border: solid 2px white; */
}

.feature-details p {
  /* text-align: center; */
  font-size: 1.7rem;
  font-weight: 200;
}

.nothing-here-text {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: 70vh;
  padding: 1em;

}
.nothing-here-text h1 {
  font-weight: 300;
  text-decoration: underline;
}
.nothing-here-text h2 {
  font-weight: 200;
}



/* .features-section h2 {
  padding-right: 1em;
} */