/* LATER add column stack for navbar on home page with simple prompt */
.nav-container { 
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: double 28px hotpink;

  /* max-height: fit-content; */
  /* width: -webkit-fill-available; */
  /* display: flex; */
  /* align-items: center; */
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding: 0em 13vw; */
}

.links-container {
  display: flex;
  align-items: center;
  width: fit-content;
  min-height:5em;
  overflow: hidden;
  margin: auto;
  /* border: solid 1px red; */
}

.links-container .link-wrapper {
  /* border: solid 1px red; */
}

.nav-title {
  display: flex;
}

.nav-title h1 {
  font-size: 3em !important;
  font-weight: 900 !important;
  font-size: 3em !important;
  font-weight: 900 !important;
  margin: auto !important;
  color: hotpink !important;
}

.nav-btn {
  flex: 1;
  padding: 0.2em 0.4em;
  height: fit-content;
  width: fit-content;
  font-size: clamp(13px, 1em, 2em);
  font-weight: 300;
  border: 1.4px solid white;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
  margin: 0 0.6em;
}

.nav-btn-link {
  color: white;
  width: 45%;
  font-weight: bolder;
  text-decoration: none;
}

.nav-btn:hover {
  background: hotpink;
  color: #282c34;
  border-color: hotpink;
}

.nav-btn-selected {
  background: #282c34;
  color: hotpink;
  border-color: hotpink;
  border-width: 3px;
  font-weight: 500;
  /* background: hotpink; */
}

.app-header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid white;
  background-color: #282c34;
}

.app-name-link h1 {
  font-size: 2em;
  /* font-style: italic; */
  font-weight: 300;
}

.app-name {
}

.app-name-link {
  text-decoration: none;
  color: white;
  z-index: 1;
}
